/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.page {
    display: none;
}

.template {
    display: none;
}

#page-item .photos li {
    list-style: none;
    min-width: 150px;
}
