/* Show it is fixed to the top */
body {
    padding-top: 4.5rem;
}

.page {
    display: none;
}

.template {
    display: none;
}

#page-list ul.beach-list > li {
    list-style: none;
    width: 180px;
    height: 120px;
    margin: 0.5em 1ex;
    padding: 0.5em 1ex;
    background-color: #369;
    background-size: cover;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#page-list ul.beach-list > li .name {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 4px 8px;
    font-size: 10px;
    font-family: 'Myriad Pro CONDENCED', 'Myriad Pro', Tahoma, sans-serif;
    background: rgba(0,0,0,0.5);
}

#page-list ul.beach-list > li .water-temperature {
    position: absolute;
    top: 8px;
    left: 8px;
}

#page-list ul.beach-list > li .rating {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
}

#page-list ul.beach-list > li .rating .icon {
    position: absolute;
    right: 8px;
    top: 8px;
    opacity: 0.75;
    font-size: 30px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.rating {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.rating.rating-1 {
    background: linear-gradient(to right, rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.2));
}

.rating.rating-1 .icon {
    background-color: rgba(0, 255, 0, 1.0);
}

.rating.rating-2 {
    background: linear-gradient(to right, rgba(255, 255, 0, 0), rgba(255, 255, 0, 0.2));
}

.rating.rating-2 .icon {
    background-color: rgba(255, 255, 0, 1.0);
}

.rating.rating-3 {
    background: linear-gradient(to right, rgba(255, 127, 0, 0), rgba(255, 127, 0, 0.2));
}

.rating.rating-3 .icon {
    background-color: rgba(255, 127, 0, 1.0);
}

.rating.rating-4 {
    background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.2));
}

.rating.rating-4 .icon {
    background-color: rgba(255, 0, 0, 1.0);
}

#page-item .photos ul > li {
    list-style: none;
    min-width: 150px;
    max-height: 100px;
}

nav {
    cursor: pointer;
}

nav button.back {
    font-family: Roboto sans-serif;
    display: none
}

.pollution {
    padding: 0 1ex;
}

.pollution.pollution-level-1 {
    background-color: lightgreen;
}

.pollution.pollution-level-2 {
    background-color: lightyellow;
}

.pollution.pollution-level-3 {
    background-color: lightsalmon;
}

.pollution.pollution-level-4 {
    background-color: lightcoral;
}

/* theme */
body {
    /*background-color: #023;*/
    /*color: lightgrey;*/
}

.navbar {
    background-color: #123 !important;
}

.navbar-brand {
    color: #fff !important;
}
